.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 2rem auto;
}
input {
  padding: 10px;
  width: 300px;
}
.logo {
  font-family: inter;
  margin-right: 5rem;
}
input:focus {
  outline: none;
}
.socials-links {
  display: flex;
  gap: 20px;
  font-size: 20px;
  color: rgb(179, 177, 177);
}
.form {
  display: flex;
  position: relative;
}
.search--btn {
  position: absolute;
  right: 10%;
  font-size: 20px;
  border: none;
  top: 20%;
}
.nav-dropdown {
  display: flex;
  justify-content: space-between;
  text-align: center;
  cursor: pointer;
  max-width: 1400px;
  margin: 5rem auto;
}

.dropdown--btn {
  background-color: white;
  box-shadow: 3px 3px 10px 16px rgba(0, 0, 0, 0.06);
  width: 200px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: sans-serif;
  font-size: 20px;
  text-transform: lowercase;
  font-weight: 600;
}
.dropdown-content {
  text-align: center;
  padding: 10px;
  background-color: whitesmoke;
  margin-top: 1.5rem;
  border-radius: 10px;
  transition: all 0.3s linear;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.show--content {
  height: 10rem;
}
.dropdown--item {
  padding: 10px;
  border: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
